.main__event-detail {
  overflow: visible;
  .reading {
    &__main {
      grid-area: 1/1/1/9;
      &-img-one {
        &.mg {
          margin-top: 24px;
          margin-bottom: 88px;
        }
      }
      &-img-three {
        &.mg {
          margin-top: 67px;
          margin-bottom: 104px;
        }
      }
      &-form {
        display: flex;
        .form__reserve {
          background-color: var(--cl-black);
          flex: 1;
          padding: 66px 134px;
        }
      }
      .seenmore {
        margin-top: 50px;
        &__item {
          &:last-child {
            justify-content: flex-start;
          }
        }
      }
      &-post {
        .textbox__infoinside {
          &-heading {
            color: var(--cl-white);
          }
        }
        .flexauto {
          flex-wrap: wrap;
          --item: 2;
        }
      }
    }
    .sidebar {
      grid-area: 1/10/1/13;
    }
    @include md {
      &__main {
        &-form {
          .form__reserve {
            padding: 66px 32px;
          }
        }
        &-post {
          .flexauto {
            --fz-h3: 2rem;
          }
        }
      }
    }
    @include sm {
      .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
      &__main {
        grid-area: unset;
        &-form {
          .form__reserve {
            padding: 66px 50px;
          }
          .img {
            img {
              &:last-child {
                display: none;
              }
            }
          }
        }
      }
    }
    @include xs {
      &__main {
        &-img-three,
        &-img-one {
          &.mg {
            margin: var(--pd-section) 0;
          }
        }
        &-post {
          .flexauto {
            &__wrap {
              gap: 12px;
              &-item {
                margin-right: unset;
                opacity: 1;
                width: calc(50% - 6px);
                .content {
                  --fz-h3: 1.8rem;
                  padding: 24px 12px 44px 12px;
                }
              }
            }
          }
        }
      }
    }
    @include xxs {
      .textbox__infoinside {
        --fz-h6: 1.4rem;
        --fz-h5: 1.5rem;
      }
      &__main {
        &-post {
          .flexauto {
            &__wrap {
              &-item {
                width: calc((100% - 30px));
              }
            }
          }
        }
        &-form {
          .form__reserve {
            padding: 50px 32px;
          }
        }
      }
      .reading__main-img-one {
        margin-bottom: 50px;
      }
      .reading__main-img-three {
        margin-bottom: 50px;
      }
    }
  }
}
