.main__event {
  .mymenu {
    .flexauto {
      &__wrap {
        flex-wrap: wrap;
      }
    }
    .btn__main {
      margin: 0 auto;
      margin-top: 65px;
    }
    @include sm {
      .flexauto {
        &__wrap {
          &-item {
            margin-right: unset;
            width: calc((100% - 24px) / 2);
          }
        }
      }
    }
    @include xs {
      .flexauto {
        --fz-h3: 2.2rem;
        --lh-h3: 3.6rem;
        &__wrap {
          &-item {
            width: 100%;
            .content {
              padding-left: 24px;
              padding-right: 24px;
            }
          }
        }
      }
    }
  }
}
