.main__menu-dessert {
  .hero {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: var(--header-height);
    max-height: 500px;
    background: url(../img/menu-dessert-banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .container {
      height: 100%;
    }
    @media screen and (max-width: 1024px) {
      height: 50vh;
    }
    @include xs {
      .textbox__archon {
        flex-direction: column;
        justify-content: center;
        &-heading {
          padding-left: 0;
        }
        &-click {
          padding-right: 0;
          margin-top: 30px;
          & .prevHome {
          }
          & .nextService {
          }
        }
      }
    }
    @include xxs {
      --header-height: 60px;
    }
  }
  .menu {
    .btn__main {
      width: 100%;
      margin: 0 auto;
      margin-top: 56px;
    }
  }
}

.backtotop {
  position: fixed;
  z-index: 50;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  bottom: 90px;
  right: 40px;
  cursor: pointer;
  @include transform(translateX(200%));
  @include visible(0);
  @include transition;
  &::before {
    content: '';
    display: block;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 50%;
    background: #000000;
    @include mid;
    @include mid(false);
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) scaleX(1));
    @include transition;
  }
  &:hover {
    img {
      @include transform(translate(-50%, -50%) scaleX(0.75));
    }
  }
  &.active {
    @include transform(translateX(0));
    @include visible(1);
  }
  @include xs {
    width: 46px;
    height: 46px;
    bottom: 40px;
    right: 30px;
  }
}
.processbar {
  width: 0;
  height: 3px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1100;
  background: var(--cl-primary);
}
